// Variables are defined here:
$primary: #e7044c;

$secondary: #f5f5f5;

$pointer-hover: #d3aeba; // // Bootstrap Styles

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootstrap/scss/functions";

/* body */

.main-container {
  max-width: 700px;
}

.profile-picture {
  max-width: 10%;
}

.current-page {
  text-decoration: underline;
}

/* Buttons */

.primary-button {
  background: $secondary;
  &:hover {
    background-color: $pointer-hover;
  }
}

a {
  text-decoration: $secondary;
  &:hover {
    text-decoration: $pointer-hover;
  }
}

.btn-outline-success {
  --bs-btn-color: $secondary;
  --bs-btn-border-color: $secondary;
}

// .responsive-img {
//   width: 20%;
//   height: auto;
// }
