// Variables are defined here:
$primary: #e7044c;

// // Bootstrap Styles
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootstrap/scss/functions";

.profile-picture {
  border-radius: 50%;
  max-width: 10%;
}

.current-page {
  text-decoration: underline;
}

// .primary-button {
//   color: $primaryBtn;
// }
